.image-fluid{
    width: 100% !important;
    scale: 0.8;
    border-radius: 20px;
}

nav li{
    padding-right: 2.5rem;
}

.footer {
    background-color: #f8f8f8;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .social-links{
    align-items: center;
    justify-content: center;
 display: flex;
 flex-direction: row;
 margin: 0px 20px 5px;
  }
  .social-links a:hover{
    scale: 1.1;
    transition: 1s ease;
    color: #f8f8f8;
  }